<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Database.DIPSConnection" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Database.DIPSConnection>
            <setting name="Connection" serializeAs="String">
                <value>Data Source = Carly-PC; Initial Catalog = medicalImaging; Integrated Security = True</value>
            </setting>
            <setting name="MasterConnection" serializeAs="String">
                <value>Data Source = Carly-PC; Initial Catalog = master; Integrated Security = True</value>
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value>Carly-PC</value>
            </setting>
            <setting name="Catalog" serializeAs="String">
                <value>medicalImaging</value>
            </setting>
            <setting name="Security" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Extra" serializeAs="String">
                <value />
            </setting>
        </Database.DIPSConnection>
    </userSettings>
</configuration>